<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910521548733-qo8cgn4c4pqgfsi2m2sn5gvgub8asbdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910521548733-qo8cgn4c4pqgfsi2m2sn5gvgub8asbdo</string>
	<key>API_KEY</key>
	<string>AIzaSyCEErR96kj8xLq2mikWd-l9ESS1BLxc-OA</string>
	<key>GCM_SENDER_ID</key>
	<string>910521548733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsportalmy</string>
	<key>PROJECT_ID</key>
	<string>akhwan-newsportalmy</string>
	<key>STORAGE_BUCKET</key>
	<string>akhwan-newsportalmy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910521548733:ios:d63362130932f8359a5cd4</string>
</dict>
</plist>